name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 2.7.1
    name: Ruby ${{ matrix.ruby }} test
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Test with Rake
      run: |
        gem install bundler --no-document
        bundle install --jobs 4 --retry 3
        bundle exec rake
  runs-on: ubuntu-latest
    name: Build and push base image
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: gemfile_filter
        with:
          filters: |
            gemfile:
              - 'Gemfile'
              - 'Gemfile.lock'
      - name: build-push
        uses: docker/build-push-action@v1
        if: steps.gemfile_filter.outputs.gemfile == 'true'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: runhermes/hermes-base
          tag_with_ref: true
          tag_with_sha: true
          dockerfile: docker/base.Dockerfile

  build_rails:
    runs-on: ubuntu-latest
    name: Build and push rails image
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: build-push
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: runhermes/hermes
          tag_with_ref: true
          tag_with_sha: true
          dockerfile: docker/Dockerfile
